@{
    ViewData["Title"] = "Booking Confirmation";
}

<div class="container">
    <h2>Booking Confirmation</h2>
    <img src="~/images/confirmed.jpg" width="50%" />
    <p class="text-primary">Your booking has been successfully confirmed. Thank you for choosing our National Park service.</p>
    <p>Total Amount: @ViewData["Amount"]</p>
</div>